/* Reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}


/*  Inicio Header */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.header {
    background-image: url(/images/Header-Aprendizaje-Viajero-blog-de-viajes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 10vh;
    background-repeat: round;
    padding-top: 10px;
}

/* Boton nav */
.boton-nav {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 1.5rem;
    height: 1.3rem;
    background: transparent;
    gap: .30rem;
}

.boton-nav div {
    background: skyblue;
    height: 2px;
    width: 100%;
    transition: all .5s;
    transform-origin: left;
}


/* Fin Boton nav */

/* Ventana Desplegable */


.boton-nav a {
    background-color: rgb(49, 51, 53);
    color: #fff;
    padding: 10px 12px;
    display: block;
    z-index: 10;
}

.boton-nav a:hover {
    background-color: #434343;
}

.links {
    display: none;
    position: absolute;
    min-width: 200px;
}

.boton-nav:hover>ul {
    display: block;
}

.link {
    position: relative;
}

.nav>li {
    float: left;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background: rgb(49, 51, 53);
    height: auto;
    width: 100%;
}

.nav a:hover {
    display: block;
    background: #434343;
}

.nav a {
    display: block;
    color: white;
}



/*  Fin Header */

/* Inicio Main */
.main {
    background: lightcyan;
}

#titulo {
    text-align: center;
}

.texto-margen {
    margin: 0 10px;
}

.bienvenidos {
    display: flex;
    justify-content: space-between;

}

.parrafos-bienvenidos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.img-bienvenidos {
    height: 15rem;
    margin: 10px;
}

.articulos {
    border: solid 1px lightgreen;
    margin: 0 10px 0 10px;
    padding: 5px;
}

.youtube-link {
    display: flex;
    justify-content: center;
    background: rgb(49, 51, 53);
}

.youtube-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: #FF0000;
    border-radius: 5px;
    color: white;
    margin: 5px;
    padding: 0 7px;

}

.icono-youtube-grande {
    height: 1.5rem;
    width: 1.5rem;


}

.aside {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

.aside h2 {
    margin: 20px 0 20px 0;
}

.galeria-videos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.imagenes-let-pablo {
    margin: 0 10px;
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-columns: 0.2fr 1fr 1fr 1fr 0.2fr;
    grid-template-areas:
        ". texto let pablo ."
    ;
}

.texto-qs {
    grid-area: texto;
}

.let-av {
    grid-area: let;
    text-align: center;
}


.pablo-av {
    grid-area: pablo;
    text-align: center;
}

.foto {
    width: 500px;
    height: 600px;
    border: solid 1px;
}

/* Fin Main */

/* Inicio Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    background: rgb(49, 51, 53);
    height: 3em;
    width: 100%;
    margin-top: auto;

}

.footer a {
    color: white;
}

.footer-iconos {
    width: 1.1rem;
    height: 1.1rem;
}

.footer-iconos:hover {
    opacity: 95%;
    width: 1.6rem;
    height: 1.6rem;
}

.post-footer {
    background: lightcyan;
    height: 2vh;
    color: black;
    font-size: 0.5rem;
    text-align: center;
    font-style: italic;
}


/* Fin Footer */

/* Inicio Contacto */

.form {
    text-align: center;
    background: lightcyan;
    height: 100vh;
    padding-left: 10px;

}

.pre-formulario {
    margin-bottom: 20px;
}

.dossier {
    color: red;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.dossier:hover {
    text-decoration: underline;
}

/* Contacto/ Formulario */

.formulario {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10px;
}

.textarea {
    border: solid black 2px;
}

.formulario textarea {
    resize: none;
    background: lightgrey;
    padding: 7px 0 0 7px;
}


.formulario input {
    background: lightgrey;
    height: 2rem;
}

.btn-form:hover {
    opacity: 150%;
}

/* Fin Contacto */


/* Inicio Europa */
.carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(49, 51, 53);
    border: solid lightcyan;
}


.carousel-inner img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    z-index: -10;

}


/* Media Queries */




@media screen and (max-width: 1160px) {

    .imagenes-let-pablo {
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "texto texto"
            "let pablo"
            "let pablo"
            "let pablo"
        ;
    }

    .titulo {
        text-align: center;
    }
}


@media screen and (max-width: 1134px) {

    .foto {
        width: 450px;
        height: 550px;
    }
}

@media screen and (max-width: 920px) {

    .foto {
        width: 400px;
        height: 500px;
    }
}

@media screen and (max-width: 815px) {

    .foto {
        width: 350px;
        height: 450px;
    }
}

@media screen and (max-width: 722px) {

    .foto {
        width: 300px;
        height: 400px;
    }
}

@media screen and (max-width: 679px) {
    .bienvenidos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .carousel-inner img {
        height: 250px;
        width: 100%;

    }

    .post-footer h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 620px) {

    .foto {
        width: 250px;
        height: 350px;
    }
}


@media screen and (max-width: 516px) {


    .imagenes-let-pablo {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "texto"
            "let"
            "pablo"
        ;
    }

    .foto {
        width: 300px;
        height: 400px;
    }


}

@media screen and (max-width: 430px) {

    .post-footer h2 {
        font-size: 15px;

    }

    .textarea {
        height: 100px;
        width: 230px;
    }




}

@media screen and (max-width: 145px) {



    .post-footer h2 {
        font-size: 10px;

    }


}