.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    background: rgb(49, 51, 53);
    height: 3em;
    width: 100%;
    margin-top: auto;

    a {
        color: white;
    }

    .footer-iconos {
        width: 1.1rem;
        height: 1.1rem;
        transition-duration: 1s;
        transition-timing-function: ease-out;

        &:hover {
            opacity: 95%;
            width: 1.6rem;
            height: 1.6rem;
            transform: rotateY(360deg)
        }
    }

}

.post-footer {
    background: lightcyan;
    height: 2vh;
    color: black;
    font-size: 0.5rem;
    text-align: center;
    font-style: italic;
}