.header {
    background-image: url(/images/Header-Aprendizaje-Viajero-blog-de-viajes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 10vh;
    background-repeat: round;
    padding-top: 10px;
}